<html>
    <head>
      <title>Tectonic Tweets</title>
   
      <!-- Google Fonts -->
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">

      <!-- CSS Reset -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.css">

      <!-- Milligram CSS minified -->
      <link rel="stylesheet" href="../static/milligram/dist/milligram.min.css">

      <meta name="viewport" content="width=device-width, initial-scale=1">

      <link type="image/png" rel="icon" href="../static/logos/twitterlogo.png">
      
     <style>
        body {
          max-width:700px;
          margin:0 auto;
          color:#4099ff;
        }
        #tweet {
          padding-top:10;
          padding-left:10;
          padding-right:10;
          padding-bottom:10;
        }
      </style>

    </head>
    <body>
    <div id="header"><hr /><p></p>
      <h1>Tectonic Tweets</h1>
    </div>
    <div id="main">
      <div id="tweet">
        <form action="/tweet" method="POST">
          <input type="text" name="tweet" size="70" maxlength="140">
          <input type="submit" value="Tweet">
          <hr />
        </form>
      </div>
    </div>
  </body>
</html>